<a href="https://colab.research.google.com/github/pawantilara/Hello-World/blob/master/Untitled29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
d=pd.read_csv("https://raw.githubusercontent.com/datasets/hepatitis/master/data/hepatitis.csv")

In [4]:
d.shape

(155, 20)

In [28]:
d.head(10)

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,...,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class,alk_phosphate
0,30,male,False,False,False,False,False,False,False,False,...,False,False,1,85,18,4,61,False,live,85.000000
1,50,female,False,False,True,False,False,False,False,False,...,False,False,0,135,42,3,61,False,live,135.000000
2,78,female,True,False,True,False,False,True,False,False,...,False,False,0,96,32,4,61,False,live,96.000000
3,31,female,NaN,True,False,False,False,True,False,False,...,False,False,0,46,52,4,80,False,live,46.000000
4,34,female,True,False,False,False,False,True,False,False,...,False,False,1,105,200,4,61,False,live,105.325397
5,34,female,True,False,False,False,False,True,False,False,...,False,False,0,95,28,4,75,False,live,95.000000
6,51,female,False,False,True,False,True,True,False,True,...,False,False,1,105,85,3,61,False,die,105.325397
7,23,female,True,False,False,False,False,True,False,False,...,False,False,1,105,85,3,61,False,live,105.325397
8,39,female,True,False,True,False,False,True,True,False,...,False,False,0,105,48,4,61,False,live,105.325397
9,30,female,True,False,False,False,False,True,False,False,...,False,False,1,105,120,3,61,False,live,105.325397

In [7]:
d.tail()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [8]:
d.describe()

,age,bilirubin,alk_phosphate,sgot,albumin,protime
count,155.000000,149.000000,126.000000,151.00000,139.000000,88.000000
mean,41.200000,1.427517,105.325397,85.89404,3.817266,61.852273
std,12.565878,1.212149,51.508109,89.65089,0.651523,22.875244
min,7.000000,0.300000,26.000000,14.00000,2.100000,0.000000
25%,32.000000,0.700000,74.250000,31.50000,3.400000,46.000000
50%,39.000000,1.000000,85.000000,58.00000,4.000000,61.000000
75%,50.000000,1.500000,132.250000,100.50000,4.200000,76.250000
max,78.000000,8.000000,295.000000,648.00000,6.400000,100.000000

In [10]:
d.describe().transpose()

               count        mean        std   min    25%   50%     75%    max
age            155.0   41.200000  12.565878   7.0  32.00  39.0   50.00   78.0
bilirubin      149.0    1.427517   1.212149   0.3   0.70   1.0    1.50    8.0
alk_phosphate  126.0  105.325397  51.508109  26.0  74.25  85.0  132.25  295.0
sgot           151.0   85.894040  89.650890  14.0  31.50  58.0  100.50  648.0
albumin        139.0    3.817266   0.651523   2.1   3.40   4.0    4.20    6.4
protime         88.0   61.852273  22.875244   0.0  46.00  61.0   76.25  100.0

In [12]:
d.dtypes

age                  int64
sex                 object
steroid             object
antivirals            bool
fatigue             object
malaise             object
anorexia            object
liver_big           object
liver_firm          object
spleen_palpable     object
spiders             object
ascites             object
varices             object
bilirubin          float64
alk_phosphate      float64
sgot               float64
albumin            float64
protime            float64
histology             bool
class               object
dtype: object

# **Data Cleaning**

In [13]:
d.isnull().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

In [0]:
d['protime']=d.protime.fillna(d.protime.mean())

In [0]:
d['protime']=d['protime'].astype(int)

In [0]:
d['albumin']=d.albumin.fillna(d.albumin.mean())

In [0]:
d['albumin']=d['albumin'].astype(int)

In [0]:
d['sgot']=d.sgot.fillna(d.sgot.mean())
d['sgot']=d['sgot'].astype(int)

In [0]:
d['alk_phosphate']=d.alk_phosphate.fillna(d.alk_phosphate .mean())
d['alk_phosphate']=d['alk_phosphate'].astype(int)

In [0]:
d['bilirubin']=d.bilirubin.fillna(d.bilirubin.mean())
d['bilirubin']=d['bilirubin'].astype(int)

In [26]:
d.dtypes

age                   int64
sex                  object
steroid              object
antivirals             bool
fatigue              object
malaise              object
anorexia             object
liver_big            object
liver_firm           object
spleen_palpable      object
spiders              object
ascites              object
varices              object
bilirubin             int64
alk_phosphate         int64
sgot                  int64
albumin               int64
protime               int64
histology              bool
class                object
alk_phosphate       float64
dtype: object

In [27]:
d.isnull().sum()

age                  0
sex                  0
steroid              1
antivirals           0
fatigue              1
malaise              1
anorexia             1
liver_big           10
liver_firm          11
spleen_palpable      5
spiders              5
ascites              5
varices              5
bilirubin            0
alk_phosphate        0
sgot                 0
albumin              0
protime              0
histology            0
class                0
alk_phosphate        0
dtype: int64

In [0]:
d['liver_big']=d.liver_big.fillna(method='ffill')

In [0]:
d['liver_firm']=d.liver_firm.fillna(method='bfill')
d['spleen_palpable']=d.spleen_palpable.fillna(method='bfill')
d['spiders']=d.spiders.fillna(method='bfill')
d['ascites']=d.ascites.fillna(method='bfill')
d['varices']=d.varices.fillna(method='bfill')

In [36]:
d.isnull().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big           0
liver_firm          0
spleen_palpable     0
spiders             0
ascites             0
varices             0
bilirubin           0
alk_phosphate       0
sgot                0
albumin             0
protime             0
histology           0
class               0
alk_phosphate       0
dtype: int64

In [0]:
d['steroid']=d.steroid.fillna(method='ffill')
d['fatigue']=d.fatigue.fillna(method='ffill')
d['malaise']=d.malaise.fillna(method='ffill')
d['anorexia']=d.anorexia.fillna(method='ffill')

In [40]:
d.isnull().sum()

age                 0
sex                 0
steroid             0
antivirals          0
fatigue             0
malaise             0
anorexia            0
liver_big           0
liver_firm          0
spleen_palpable     0
spiders             0
ascites             0
varices             0
bilirubin           0
alk_phosphate       0
sgot                0
albumin             0
protime             0
histology           0
class               0
alk_phosphate       0
dtype: int64